.sentence {
  width: 100%;
  min-height: 48px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;

  transition: background-color 50ms linear;
}

.is-over {
  background-color: rgb(77, 77, 77);
}
